/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#spin {
    background: #333;
    color: white;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#loading {
    position: absolute; width: 100%; height: 100%;
}

#login_form {
    padding-top: 12px;
}
.navbar {
    background: #0C7BA1;
}
.navbar-default .navbar-nav > .active > a {
    background: #08617f;
    color: #FFFFFF;
}
.navbar-default .navbar-nav li> a:hover {
    background: #12aee2;
}

.navbar-default .navbar-nav > .active > a:hover {
    background: #12aee2;
}
.navbar-default .navbar-nav li>a{
    color: #FFFFFF;
}
.button-menu{
    padding-top: 16px;
    padding-left: 1px;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.content {
    padding-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    background-color: #f5f5f5;
}

.modal-popup {
    display: none;
    background: #0C7BA1;
    padding: 10px;
    border: 2px solid #ddd;
    float: inherit;
    font-size: 1.2em;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari, Chrome */;

}
.form_div {
    background: #fcf9f9;
    border-radius: 25px;
    padding: 5px;
}
