!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title  MetPlus
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
  %body
    = render partial: 'layouts/menu'
    %div{:id => 'loading', :style => "background: url('#{asset_path 'spinner.gif'}') no-repeat center center; display:none;"}
    %div{:class => 'content container'}
      %div{:class => 'row', :id => 'messages'}
        %div{:class => 'container'}
          - flash.each do |key, value|
            %div{:class => "alert alert-#{key}"}
              = value
      %div{:class => 'row'}
        = yield
    = render 'layouts/footer'